* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C5CBDC;
}

/* Libro */
.libro {
    position: relative;
    width: 600px;
    height: 900px;
    transition: transform 0.5s;
}

.hoja {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 3000px;

}

.frente,
.dorso {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.frente {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid rgb(63, 135, 156);
}

.dorso {
    z-index: 0;
}

.contenido-frente,
.contenido-dorso {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenido-frente {
    background-image: url(img/imagenFondo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contenido-dorso {
    background-image: url(img/imagenFondo2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contenido-dorso {
    transform: rotateY(180deg)
}

.titulo-portada {
    color: rgb(63, 135, 156);
    font-size: 50px;
    font-family: serif;
    position: fixed;
    top: 60px;
    left: 40px;
    right: 30px;
}

.imagen-portada {
    width: 400px;
    position: fixed;
    top: 250px;
    left: 7px;
}

.contenidos-portada {
    background-color: #243971;
    width: 165px;
    height: 600px;
    position: fixed;
    top: 175px;
    right: 0px;
    border-radius: 10px;
    color: #FEFEFE;
    text-align: center;
}

.subtitulo-portada {
    font-size: 25px;
}

.tabla-portada {
    border-collapse: collapse;
}

.tabla-portada th,
td {
    border: 1px solid #ddd;
    padding: 12px;
}

.imagen-portada2 {
    position: fixed;
    height: 150px;
    right: 20px;
    top: 600px;
}

.identificacion {
    position: fixed;
    bottom: 120px;
    left: 20px;
    color: rgb(63, 135, 156);
    font-style: italic;
    font-style: oblique;
}

.desarrollo1, .desarrollo2, .introduccion, .conclusion, .creditos {
    position: fixed;
    /* Fija el div en la parte superior */
    top: 5px;
    /* Coloca el div en la parte superior */
    text-align: center;
    /* Centra el contenido horizontalmente */
    padding: 10px;
    /* Espaciado interno (opcional) */
}

.desarrollo1 div, .desarrollo2 div {
    padding: 0px 20px;
}

.desarrollo1 h2, .desarrollo2 h2{
    font-size: 30px;
    color: rgb(63, 135, 156);
}

.desarrollo1 p, .desarrollo2 p {
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    background-color: #8cc4df;
    color: #FEFEFE;
}

.ejemplo-contenido {
    padding: 10px;
    height: 140px;
}

.ejemplo-contenido-alt{
    padding: 10px;
    height: 120px;
}

.introduccion h1, .conclusion h1, .creditos h1{
    font-size: 50px;
    color: #82405e;
}

.introduccion p{
    padding: 20px 10px; /* Reduce el padding lateral */
    width: 375px;
    margin-left: auto; /* Centra el párrafo en el contenedor */
    color: #FEFEFE;
    font-weight: bold;
}

.texto-introduccion, .texto-conclusion{
    width: 550px;
    background-image: url(img/imagenFondoIntroduccion.png);
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    padding: 20px; /* Espaciado interno para el texto */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.imagen-introduccion{
    position: fixed;
    bottom: 15px;
    left: 100px;
    width: 100px;
}

.conclusion p{
    padding: 20px 10px; /* Reduce el padding lateral */
    width: 420px;
    margin-left: auto; /* Centra el párrafo en el contenedor */
    color: #FEFEFE;
    font-weight: bold;
}

.imagen-conclusion{
    position: fixed;
    top: 10px;
    right: 50px;
    width: 75px;
}

.creditos p{
    padding: 20px;
}

.creditos img{
    width: 100px;
}

/* Efecto de giro de la hoja */
.girada .frente,
.girada .dorso {
    transform: rotateY(-180deg);
}

/* Botones de control */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 150px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #243971;
}

i {
    font-size: 100px;
    color: rgb(63, 135, 156);
}

/* Orden de apilamiento de hojas */
#h1 {
    z-index: 5;
}

#h2 {
    z-index: 4;
}

#h3 {
    z-index: 3;
}

#h4 {
    z-index: 2;
}

#h5 {
    z-index: 1;
}